.App, body, html {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(3, 34, 65);
  overflow-x: hidden;
}

.container {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 100%;
  max-height: 80%;
  text-align: center;
  color: white;
  overflow: scroll;
 
}

*:focus {
  outline: none;
}

header {
  top: 0px;
  left: 0px; 
  position: fixed;
  z-index: 2;
  display: block;
  width: 100%;
  height: 50px;
  border-bottom: solid 3px rgba(255, 255, 255, 0.479);
}  

#inputField {
  width: 60%;
  padding: 0.5em; 
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  color: rgb(1, 14, 41);
}

.addButton {
  width: 15%;
  padding: 0.5em; 
  font-size: 1em;
}

input, button {
  display: inline; 
 
  margin: 0px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 0px; 
}

button { background-color: darkorange; color: white; border: 0px; font-weight: bold; }

.compltrue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 4px; 
  background-color: rgba(18, 97, 29, 0.8);
  height: 40px;
  
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.626);
  overflow: hidden;
}

.complfalse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 4px; 
  background-color: rgba(245, 241, 237, 0.2);
  height: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  overflow: hidden;
}

.deleteBtn {
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  width: 40px;
  margin: 0px;
  color: white;
  background-color: rgba(255, 255, 255, 0.273);
  border: transparent;
}

button:hover {
  background-color: darkred;
  color: white;
}

input[type='checkbox']{
  appearance: none;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.221);
  border: solid 0px rgba(255, 255, 255, 0.36);
  background-image: url('./bluering.png');
  background-size:contain;
  background-repeat:no-repeat;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
  margin: 0px;
  border: solid 1px rgba(245, 241, 237, 0.2);
}


input[type='checkbox']:checked {
  appearance: none;
  background-color: rgba(255, 255, 255, 0.221);
  border: solid 0px rgba(255, 255, 255, 0.36);
  background-image: url('./bluehook.png');
  background-size:contain;
  background-repeat:no-repeat;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
  margin: 0px;
}


#entryDiv {
  position:  absolute;;
  display: block;
  margin-top: 3.3em;
  
  
  padding-bottom: 10px;
  min-height: 80%;
  max-height: 80%;
  min-width: 100%;
  max-width: 100%;
  overflow: scroll;
  border-bottom: solid 3px rgba(255, 255, 255, 0.479);
  
}